* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44 197 203 / 19%);
  width: 100%;
  height: 100vh;
}

h1 {
  padding: 2rem;
  font-size: 3rem;
  color: rgb(11 125 244);
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-style: italic;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}

.leaderboard {
  min-width: 25rem;
}

.scores-title {
  display: flex;
  gap: 7rem;
}

.scores-title h3 {
  margin-left: 1rem;
  color: rgb(11 125 244);
}

table {
  margin-top: 1rem;
  width: 100%;
  border-radius: 12px;
  border-spacing: 10px;
}

tr {
  border: 2px solid rgb(201, 194, 202);
  padding: 0.2rem;
  background-color: #008df570;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

td {
  border-radius: 12px;
  padding: 10px;
  border: 2px solid rgb(62 112 216);
  min-width: 4rem;
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  font-style: italic;
  font-weight: 600;
}

form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form input {
  min-width: 14rem;
  font-style: italic;
  font-size: 16px;
}

input,
button {
  padding: 0.5rem;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 12px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
}

button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-style: italic;
  font-weight: 600;
}

form button {
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: rgb(11 125 244);
  text-shadow: 1px 2px 2px #000000;
  font-style: italic;
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }

  table {
    width: 60%;
    margin: 0 auto;
  }

  .scores-title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    margin-left: 8rem;
  }

  .score-input {
    text-align: center;
    margin-top: 2rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}
